@model Ds3App.Models.QuotationViewModel

<tr>
    <th>Image</th>
    <th>Material Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Action</th>
</tr>
@foreach (var item in Model.QuoteMaterials)
{
    <tr>
        <td>
            @if (!string.IsNullOrEmpty(item.MaterialImage))
            {
                <img class="zoom" src="~/ProjImages/@(item.MaterialImage)" />
            }
            else
            {
                <b>n/a</b>
            }
        </td>
        <td>@item.MaterialName</td>
        <td>@item.MaterialDescription</td>
        <td><input type="number" id="@(item.Id)|mat" value="@(item.Quantity)" style="max-width:100%;width:50px" /></td>
        <td><a href="javascript:void(0)" onclick="updateMatQty('@item.Id')">Update Quantity</a></td>
    </tr>
}