@model IEnumerable<Ds3App.Models.ProjectTask>
@using Ds3App.Models
@{
    var projectId = Guid.Parse(TempData["ProjectId"].ToString());
    ApplicationDbContext context = new ApplicationDbContext();
    ViewBag.Title = "ViewTasks";
    var proj = context.Project.Find(projectId);
    var totalTasks = proj.ForemanTasks + proj.SkilledWorkerTasks + proj.SemiSkilledWorkerTasks + proj.GeneralWorkerTasks;
}

<h2>Tasks for project : <b>@(proj.ProjectName)</b></h2>

<p>
    @if (Model.Count() == totalTasks)
    {
        <a class="btn btn-outline-dark" href="@(Url.Action("IndexForeman", new { id = projectId }))">Back</a>
    }
    else
    {
        <a class="btn btn-outline-primary" href="@(Url.Action("Create", new { id = projectId }))"><span class="fa fa-plus"></span> Create Task</a><span>&nbsp;</span> <a class="btn btn-outline-dark" href="@(Url.Action("IndexForeman", new { id = projectId }))">Back</a>
    }

</p>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConstructionTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @(context.ConstructionTask.Find(item.ConstructionTask).TaskName)
    </td>
    <td>
        @(item.DateAssigned.ToShortDateString())
    </td>
    <td>
        @(item.DueDate.ToShortDateString())
    </td>
    <td>
        @(item.IsCompleted ? "Completed" : "Pending")
    </td>
    @if (item.IsCompleted)
    {
        <td>
            <span class="fa fa-check text-success"></span>
        </td>
    }
    else
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            <a href="#" onclick="deleteItem('@item.Id')">Delete</a>
        </td>
    }
</tr>
    }

</table>
<script>
     function deleteItem(id) {
        var doDelete = confirm("Are you sure you want to delete this?");
        if (doDelete) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("DeleteTask")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
        }
      }
  
</script>