@model Ds3App.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
        Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
    <style>
        body {
            background-image: url('../../BackImage/construction.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
        footer{
            display:none;
        }
    </style>
<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h2>@ViewBag.Title.</h2>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Contact, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Contact, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control custwidth" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-outline-success btn-block custwidth" value="Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
 </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
