@model Ds3App.Models.Contract

@{
    ViewBag.Title = "Details";
}

<div class="container text-center">
    <div id="divPrint">
        <h1>Contract</h1>
        <p>
            Between<br />
            <b>@(Model.ClientName) @(Model.ClientSurname)</b> and <b>@(Model.ContractIssuedBy)</b>
            <br /><br />
            THIS AGREEMENT made on the <b>@DateTime.Now.ToLongDateString()</b>, time  <b>@DateTime.Now.ToShortTimeString()</b> for Project
            <b>@(Model.ProjectName)</b> cost estimated at <b>@(Model.ProjectCost)</b> based on the acceptence of Quote <b>#@(Model.QuotationReference)</b>
            accepted on <b>@(Model.DateTimeStamp).</b> Client @(Model.ClientName) @(Model.ClientSurname) contact are as follow email <b>@(Model.Email)</b>
            and contact number <b>@(Model.Contact).</b>
            <br /><br />States:<br /><br />
            NOW THEREFORE, in consideration of the mutual promises and for other good and valuable consideration exchanged by the Parties as set forth in this Agreement, the Parties, intending to be legally bound, hereby mutually agrees as follows:
            <br /><br />
            1. Description of Work- Contractor shall perform the work described in the Project, in accordance with Owner’s contract plans and specifications, attached in the Quotation, this Agreement and any Change Order, as defined herein, (collectively, the "Contract Documents") at the Property.
            <br /><br />
            2. Contract Price and Payments- Owner agrees to pay Contractor for the worker before the project begins so that the company can wil be able to buy the resources needed to do the project. Payment of this amount is subject to additions or deductions in accordance with any mutually agreed to changes and/or modifications in the Work, and the other documents to which this Agreement is subject.
            <br /><br />
            3. Materials and Labor- Contractor shall provide and pay for all labor and equipment, including tools, construction equipment, machinery, transportation and all other facilities and services, and all materials as described in Exhibit C necessary for the completion of the Work. All materials shall be good quality and new, unless the Contract Documents require or permit otherwise. Contractor may substitute materials only with the prior written approval of Owner.
            <br /><br />
            4. Instructions- Owner shall give all instructions to Contractor, and shall furnish all necessary surveys for the Work. Unless otherwise provided in the Contract Documents, Owner shall secure and pay for all necessary easements, assessments or other approvals necessary for permanent structures or permanent changes in existing structures or facilities which are necessary to complete the Work.
            <br /><br />
            5. Licenses and Permits- Contractor shall obtain all licenses and permits necessary for proper completion of the Work. Contractor is responsible for the cost of any necessary permits or licenses.
            <br /><br />
            6. Laws and Regulations- Contractor shall perform the Work in a workmanlike manner. Contractor shall comply with all applicable federal, state, and local laws, regulations and ordinances, and any safety requirements of Owner (the “Applicable Laws”) in the performance of the Work. Contractor shall promptly notify Owner upon discovery of any variance between the Applicable Laws and the Construction Documents.


            <br /><br />
            Sign_______________________________<br />Date: @DateTime.Now.ToShortDateString()
        </p>
    </div>
    <p>
        <hr id="spLine" />
        <a href="" id="btnSend" class="btn btn-outline-success"><span class="fa fa-envelope-open"></span> Send Contract</a>&nbsp;<a href="#" id="btnPrint" onclick="Print('divPrint')" class="btn btn-outline-primary"><span class="fa fa-print"></span> Print</a>&nbsp;<a id="btnBack" href="@Url.Action("Index")" class="btn btn-outline-primary">Back to contracts</a>
    </p>
</div>
<script>
    function Print(divPrint) {
        var printContents = document.getElementById(divPrint).innerHTML;
			var originalContents = document.body.innerHTML;
			document.body.innerHTML = printContents;
			window.print();
			document.body.innerHTML = originalContents;
    }
</script>